@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* @keyframes sidebar-open {
  0% {
    width: 72px;
    opacity: 0;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}

@keyframes sidebar-close {
  0% {
    width: 300px;
    opacity: 1;
  }
  100% {
    width: 72px;
    opacity: 0;
  }
}

.animate-slideIn {
  animation: sidebar-open 0.35s ease forwards;
}

.animate-slideOut {
  animation: sidebar-close 0.35s ease forwards;
} */
